.pointer {cursor: pointer;}

.default {cursor: default;}

.textAlignCenter {
  text-align: center;
}

.center-screen {
  margin: 20% 0 0 0;
}

.center-loader {
  margin: 10% 0 0 0;
}

.button-margin {
  margin: 10px;
}

.error-border {
  border: solid;
  color: red;
}